body{
    background-color: black ;
    font-family: arial;
    font-size:13px;
}
div.khung{
    width:233px;
    height:482px;
    box-shadow: 0 0 2px 1px rgb(190, 82, 190), 0 0 0 3px silver;
    border-radius: 35px;
    box-sizing: border-box;
    position:relative;
    background-color: black;
}
body>div{
    margin-top:100px;
    display:flex;
    justify-content: center;
}
div.manhinh{
    left:5px;
    top:5px;
    position:absolute;
    background-color: black;
    width:223px;
    height:0px;
    border-radius: 30px;
}
div.manhinhchung{
    background-color: black;
    border-radius: 30px;
    height:472px;
}
div.manhinhtren{
    position:relative;
    box-sizing: border-box;
    border:2px solid #ffbcf6;
    height:236px;
    width:100%;
    border-radius: 30px 30px 110px 110px; 
    overflow:hidden;
}
div.manhinhtren>div{
    top:-9px;
    left:-9px;
    position:absolute;
    height:488px;
    width:239px;
    background-image: radial-gradient(circle,black,black, black,black,black,#570a91,#ba2dcf,#ffbcf6,#ffbcf6,#ffbcf6,#ffbcf6)
}
div.manhinhduoi{
    position:relative;
    border:2px solid #dde4ea;
    height:236px;
    border-radius:  110px 110px 30px 30px; 
    box-sizing: border-box;
    overflow:hidden;
}
div.manhinhduoi>div{
    top:-245px;
    left:-9px;
    position:absolute;
    box-sizing: border-box;
    height:488px;
    width:239px;
    background-image: radial-gradient(circle,black,black, black,black,black,#99aebe,#90a5b6,#dde4ea,#dde4ea,#dde4ea,#dde4ea)
}
div.dynamic{
    top:5px;
    right:78px;
    position:absolute;
    z-index:99;
    width:67px;
    height:20px;
    background-color:black;
    border-radius: 30px;   
    transition: 0.5s;  
    overflow:hidden;
}
div.hinh{
    opacity:0;
    position:absolute;
    left:5px;
    bottom:5px;
    width:203px;
    transition:0.5s;
    border-radius: 20px;
    overflow:hidden;
    height:279px;
    border:2px solid pink;
    box-sizing: border-box;
}
div.hinh>img{
    width:100%;
}
div.info{
    opacity:0;
    transition:0.5s;
    margin-top:30px;
}
div.info>p{
    text-align: center;
    color:pink;
}
div.cam{
    position:absolute;
    top:8px;
    left:128px;
    height:14px;
    width:14px;
    z-index:100;
    background-color:rgb(9, 3, 43);
    /*rgb(9, 3, 43)*/
    border-radius: 100%;
}
div.cam>div{
    position:absolute;
    background-color: rgb(12, 2, 105);
    height:6px;
    width:6px;
    top:4px;
    left:4px;
    border-radius: 100%;
}
div.faceID{
    position:absolute;
    top:8px;
    left:81px;
    height:14px;
    width:40px;
    z-index:100;
    background-color:rgb(9, 3, 43);
    /*rgb(9, 3, 43)*/
    border-radius: 30px;
}
div.thongbao{
    width:4px;
    background-color: silver;
    height:20px;
    margin-top:80px;
    margin-left:auto;
}
div.tangamluong{
    width:4px;
    background-color: silver;
    height:35px;
    margin-left:auto;
    margin-top:20px;
}
div.giamamluong{
    width:4px;
    background-color: silver;
    height:35px;
    margin-left:auto;
    margin-top:10px;
}
div.nuttrai{
    margin-right:0.5px;  
    text-align: right;
}
div.nutphai{
    margin-left:0.5px;  
    text-align: left;
}
div.nguon{
    width:4px;
    background-color: silver;
    height:60px;
    margin-left:auto;
    margin-top:130px;
}
div.amluong1{
    width:9px;
    position:absolute;
    height:3px;
    background-color: white ;
    transition:0.5s
}
div.amluong2{
    width:99px;
    position:absolute;
    top:26px;
    left:50px;
    border-radius: 3px;
    height:3px;
    background-color: rgb(175, 175, 175);
     overflow:hidden;
}